.outer_block
	.header_block
		display block!important
		background-color white
		position fixed!important
		top 0!important
		width 100%!important
		z-index 999!important
		.header_inner
			animation marquee 7s linear infinite!important
	.content_block
		margin-top 60px!important
		display block!important
		.main_block
			width 100%!important
			border-right none!important
			border-bottom 1px solid rgb(238, 56, 49)
			.main_footer
				position fixed!important
				bottom 0!important
				width 100%!important
				background-color white
				z-index 999!important
		.sections_block
			width 100%!important
			padding-bottom 80px!important
			.column
				width 100%!important

