.main_block
	width 50%!important

.section_item
	flex-direction column!important
	border-top none!important

.column
	flex-grow 0!important
	width 100%!important
	border-right none!important
	border-top 1px solid rgb(238, 56, 49)
	.column_title
		cursor pointer!important
	.column_body
		display none!important
	&.none
		display none!important
	&.active
		flex-grow 1!important
		.column_title
			cursor auto!important
		.column_body
			display block!important

