body
html
	margin 0
	padding 0
	height 100%
	color rgb(238, 56, 49)
	a
		color rgb(238, 56, 49)
	p
		font-size 18pt
		text-indent 50px

.outer_block
	display flex
	flex-direction row
	height 100%
	.main_block
		width 50%
		box-sizing border-box
		display flex
		flex-direction column
		border-right 1px solid rgb(238, 56, 49)
		.main_title
			margin-bottom auto
			padding 20px
			font-size 7vw
		.main_desc
			padding 20px
		.main_footer
			padding 20px
			border-top 1px solid rgb(238, 56, 49)

	.sections_block
		width 50%
		height 100%
		display flex
		flex-direction column
		justify-content flex-end
		.section_item
			width 100%
			border-top 1px solid rgb(238, 56, 49)
			display flex
			flex-direction row
			&:first-child
				border-top none
			.column
				width 50%
				padding 20px
				box-sizing border-box
				flex-grow 1
				display flex
				flex-direction column
				min-height 0
				border-right 1px solid rgb(238, 56, 49)
				&:last-child
					border-right none
				&.none
					background: linear-gradient(to top left, rgba(238, 56, 49, 0) 0%, rgba(238, 56, 49, 0) calc(50% - 0.8px), rgba(238, 56, 49, 1) 50%, rgba(238, 56, 49, 0) calc(50% + 0.8px), rgba(238, 56, 49, 0) 100%)
				.column_body
					display none
			&.active
				margin-bottom auto
				height 100%
				overflow scroll
				.column_body
					display block
					flex-grow 1
					overflow auto
					min-height 0

