body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.sections_block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sections_block .section_item {
  width: 100%;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: row;
}
.sections_block .section_item .column {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-right: 1px solid #000;
}
.sections_block .section_item .column:last-child {
  border-right: none;
}
.sections_block .section_item .column.none {
  background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), #000 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%);
}
.sections_block .section_item .column .column_body {
  display: none;
}
.sections_block .section_item.active {
  margin-bottom: auto;
  height: 100%;
  overflow: scroll;
}
.sections_block .section_item.active .column_body {
  display: block;
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
}
