doctype html

html
	head
		title= 'ED TECH CLUB'
		meta(name='description', content='ED TECH CLUB')
		meta(property='og:image' content='http://example.com/img/og.png')
		meta(charset='utf-8')
		link(rel='shortcut icon' href='http://example.com/img/favicon.png' type='image/png')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/swiper-bundle.min.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript', src='js/jquery-3.4.1.min.js')
		script(type='text/javascript', src='js/swiper-bundle.min.js')
		script(type='text/javascript', src='js/main.js')
		include _counters.pug
	body
		.outer_block

			.main_block
				.main_title edtech club
				.main_desc
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi possimus excepturi a, saepe aliquam quia rem cupiditate sit dicta commodi quos nam necessitatibus, ipsum fugit officia corporis culpa nisi reprehenderit.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi possimus excepturi a, saepe aliquam quia rem cupiditate sit dicta commodi quos nam necessitatibus, ipsum fugit officia corporis culpa nisi reprehenderit.
				.main_footer
					span email:&nbsp;
					a(href='mailto:edtechclub@action-media.ru') edtechclub@action-media.ru

			.sections_block
				.section_item.active
					.column
						.column_title title 1
						.column_body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi possimus excepturi a, saepe aliquam quia rem cupiditate sit dicta commodi quos nam necessitatibus, ipsum fugit officia corporis culpa nisi reprehenderit.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi possimus excepturi a, saepe aliquam quia rem cupiditate sit dicta commodi quos nam necessitatibus, ipsum fugit officia corporis culpa nisi reprehenderit.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi possimus excepturi a, saepe aliquam quia rem cupiditate sit dicta commodi quos nam necessitatibus, ipsum fugit officia corporis culpa nisi reprehenderit.

				.section_item
					.column
						.column_title title 2
						.column_body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.



					.column
						.column_title title 2
						.column_body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.



				.section_item
					.column
						.column_title title 2
						.column_body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.

					.column.none

				.section_item
					.column
						.column_title title 3
						.column_body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab et asperiores rerum quae recusandae cumque debitis est numquam excepturi, tempora voluptate, alias dicta qui. Iusto modi vel, fugiat cupiditate.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quod, ex, neque cum rem autem veniam reprehenderit, dolores nihil voluptate porro. Delectus recusandae, labore provident rem minima quam mollitia at.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus, beatae quas nulla eum minima recusandae rerum soluta dolorem corporis tenetur saepe qui nemo impedit placeat. Maxime voluptate ut consectetur.

